<div class="min-h-screen bg-[#181C23]">
  <app-header></app-header>

  <main class="relative bg-[#181C23]">
    <app-hero></app-hero>
    <app-history-section></app-history-section>
    <app-prevention-section></app-prevention-section>
    <app-community-section></app-community-section>
    <app-principles-section></app-principles-section>
    <app-events-section></app-events-section>
    <app-values-section></app-values-section>
    <app-contact-section></app-contact-section>
    <app-donation-section></app-donation-section>
    <app-footer-section></app-footer-section>
  </main>

  <app-scroll-to-top></app-scroll-to-top>
</div>
